{
  "global": {
    "scrape_interval": "15s"
  },
  "scrape_configs": [
    {
      "job_name": "cadvisor",
      "static_configs": [
        {
          "targets": [
            {% for host in groups['all'] %}
            {% if host == groups['all'][0] or host == groups['all'][2] %}
            "{{ hostvars[host].ansible_host }}:{{ cadvisor_port }}"{% if not loop.last %},{% endif %}
            {% endif %}
            {% endfor %}
          ]
        }
      ]
    },
    {
      "job_name": "node_exporter",
      "static_configs": [
        {
          "targets": [
            {% for host in groups['all'] %}
            "{{ hostvars[host].ansible_host }}:{{ node_exporter_port }}"{% if not loop.last %},{% endif %}
            {% endfor %}
          ]
        }
      ]
    },
    {
      "job_name": "prometheus",
      "static_configs": [
        {
          "targets": ["{{ hostvars[groups['all'][0]].ansible_host }}:{{ prometheus_port }}"]
        }
      ]
    }
  ]
}
